<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>东北大学秦皇岛分校</title>
    <link href="/stylesheets/main.css" rel="stylesheet">
</head>
<body>
<div class="top">
    <img class="logo" src="/images/logo.jpg">
</div>
<div class="middle">
    <div class="user">
        <h2>Hi</h2>
        <span><%= email %></span>
    </div>
    <div class="link">
        <span>您已经成功激活您的账户，可以点击以下页面返回登录界面登录您的账户:</span>
        <div><p><a href="http://neuqst.qoder.cn/#/auth/login">返回登录</a></p></div>
    </div>
</div>
<div class="footer">
    <span>©2016东北大学秦皇岛分校数学与统计学院就业择业中心</span>
</div>
</body>
</html>